body {
    background-color:rgba(252, 63, 67, 0.9);
}

h1{
    text-align: center;
    color:silver;
    font-family: "Courier New",monospace;
}

#div1{
    margin-top: 8%;
}
#div2{
    display: flex;
    justify-content: space-around;
}
#div2 img{
    width: 100px;
    height: 100px;
}
#div3{
    margin: 10px;
    display: flex;
    justify-content: center;
}

button{
    font-size: 30px;
    padding: 5px 30px;
    border: 1px solid black;
    background-color: grey;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: 0.2s;
}


button:hover{
    background-color: darkgrey;
}

button:active{

    transform: translateY(4px);
}